{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jony</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{%  static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/slick.css' %}>
    <link rel="stylesheet" href="{%  static 'assets/css/slicknav.css' %}">

    <link rel="stylesheet" href="{%  static 'assets/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
{% block content %}


    {% endblock %}
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <!-- JS here -->
    <script src="{%  static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{%  static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{%  static 'assets/js/popper.min.js' %}"></script>
    <script src="{%  static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{%  static 'assets/js/ajax-form.js' %}"></script>
    <script src="{%  static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{%  static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{%  static 'assets/js/scrollIt.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{%  static 'assets/js/wow.min.js' %}"></script>
    <script src="{%  static 'assets/js/nice-select.min.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%  static 'assets/js/plugins.js' %}></script>
    <!-- <script src="js/gijgo.min.js"></script>  -->
    <script src="{%  static 'assets/js/slick.min.js' %}"></script>



    <!--contact js-->
    <script src="{%  static 'assets/js/contact.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.form.js' %}"></script>
    <script src="{%  static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{%  static 'assets/js/mail-script.js' %}"></script>


    <script src="{%  static 'assets/js/main.js' %}"></script>
</body>

</html>